.featured{
    height: 600px;
    display: flex;
    justify-content: center;
    background-color: #68B4C6;
    color: white;

    .container{
        width: 1400px;
        display: flex;
        align-items: center;
    }

    img{
        width: 30px;
        height: 30px;
        margin: 10px;
    }

    input{
        border: none;
        outline: none;
    }

    .left{
        display: flex;
        flex-direction: column;
        gap: 30px;

        h1{
            font-size: 50px;
        }
        .search{
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            border-radius: 5px;
            .searchInput{
                display: flex;
                align-items: center;
                gap: 10px;
            }

            button{
                width: 120px;
                height: 50px;
                border: none;
                background-color: skyblue;
                color: white;
                cursor: pointer;
            }

        }

        .popular{
            display: flex;
            align-items: center;
            gap: 10px;
            span{}
            button{
                color: white;
                background-color: transparent;
                border: 1px solid white;
                padding: 5px 10px;
                border-radius: 20px;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }

    .right{
        height: 100%;

        img{
            width: 300px;
            height: 100%;
            object-fit: contain;
        }
    }
}
